<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/scss/style.css" />
    <title>Masters</title>
  </head>
  <body>
    <main>
      <nav class="menu">
        <ul class="menu__items">
          <li class="menu__item">
            <img
              src="/assets/image/instagram.png"
              width="28"
              heigth="28"
              alt=""
            />
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item__link">Главная</a>
          </li>
          <li class="menu__item">
            <a href="/view/masters.html" class="menu__item__link">Мастера</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Косметика</a>
          </li>
          <li class="menu__item">
            <svg
              width="28"
              height="28"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M39.1904 34.5978H34.9553C37.7664 30.8686 39.3147 26.2056 39.3147 21.4677C39.3147 9.99511 30.6501 0.661377 19.9988 0.661377C9.34791 0.661377 0.682858 9.99552 0.682858 21.4677C0.682858 26.2064 2.23032 30.8694 5.04109 34.5978H0.809553C0.36268 34.5978 0 34.9605 0 35.4074V38.5298C0 38.9767 0.36268 39.3394 0.809553 39.3394H12.3663C12.8132 39.3394 13.1759 38.9767 13.1759 38.5298V35.0516C13.1759 34.8589 13.1075 34.6731 12.9828 34.527L12.9379 34.474C12.8925 34.4201 12.8399 34.3728 12.782 34.3331C8.80469 31.5766 6.33354 26.6472 6.33354 21.4673C6.33354 13.1103 12.4639 6.31165 19.9988 6.31165C27.5333 6.31165 33.6636 13.1107 33.6636 21.4673C33.6636 26.6691 31.1771 31.609 27.1755 34.3598C26.9557 34.5108 26.8245 34.7601 26.8245 35.0265V38.529C26.8245 38.9759 27.1872 39.3386 27.6341 39.3386H39.1904C39.6373 39.3386 40 38.9759 40 38.529V35.4066C40 34.9601 39.6381 34.5978 39.1904 34.5978Z"
                fill="white"
              />
            </svg>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Акции</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Отзывы</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Контакты</a>
          </li>
          <li class="menu__item">
            <svg
              width="28"
              height="21"
              viewBox="0 0 50 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <line x1="10" y1="0.5" x2="50" y2="0.5" stroke="white" />
              <line x1="10" y1="20.5" x2="50" y2="20.5" stroke="white" />
              <line y1="10.5" x2="40" y2="10.5" stroke="white" />
            </svg>
          </li>
        </ul>
      </nav>
      <hr />
      <div class="gallery">
        <p class="gallery__header">Наши мастера</p>
        <div class="service__items">
          <div class="service__item">
            <img
              src="/assets/image/master1.jpg"
              alt=""
              class="service__item__image"
            />
          </div>
          <div class="service__item">
            <img
              src="/assets/image/master2.jpg"
              alt=""
              class="service__item__image"
            />
          </div>

          <div class="service__item">
            <img
              src="/assets/image/master1.jpg"
              alt=""
              class="service__item__image"
            />
          </div>

          <div class="service__item">
            <img
              src="/assets/image/master3.jpg"
              alt=""
              class="service__item__image"
            />
          </div>

          <div class="service__item">
            <img
              src="/assets/image/master4.jpg"
              alt=""
              class="service__item__image"
            />
          </div>

          <div class="service__item">
            <img
              src="/assets/image/master5.jpg"
              alt=""
              class="service__item__image"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="footer">
        <svg
          width="50"
          height="50"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M58.7857 51.8969H52.4329C56.6497 46.3031 58.9721 39.3085 58.9721 32.2017C58.9721 14.9928 45.9751 0.992188 29.9982 0.992188C14.0219 0.992188 1.02429 14.9934 1.02429 32.2017C1.02429 39.3097 3.34548 46.3043 7.56163 51.8969H1.21433C0.544019 51.8969 0 52.4409 0 53.1112V57.7949C0 58.4652 0.544019 59.0092 1.21433 59.0092H18.5495C19.2198 59.0092 19.7638 58.4652 19.7638 57.7949V52.5775C19.7638 52.2885 19.6612 52.0098 19.4742 51.7906L19.4068 51.7111C19.3388 51.6303 19.2599 51.5593 19.173 51.4998C13.207 47.365 9.5003 39.9709 9.5003 32.201C9.5003 19.6655 18.6958 9.4676 29.9982 9.4676C41.2999 9.4676 50.4954 19.6661 50.4954 32.201C50.4954 40.0037 46.7656 47.4136 40.7632 51.5398C40.4335 51.7663 40.2368 52.1403 40.2368 52.5398V57.7936C40.2368 58.4639 40.7808 59.008 41.4511 59.008H58.7857C59.456 59.008 60 58.4639 60 57.7936V53.11C60 52.4403 59.4572 51.8969 58.7857 51.8969Z"
            fill="white"
          />
        </svg>
        <div class="footer__item_info">
          <span class="footer__item_info-header">Контакты</span>
          <span>+(380) 123-45-67</span>
          <span>+(380) 123-45-67</span>
          <span>Новоостровский проспект, дом 36 лит. С</span>
        </div>
        <div class="footer__item_info">
          <span class="footer__item_info-header">Режим работы</span>
          <span>C 10:00 до 21:00 (Пн-Пт)</span>
          <span>С 11:00 до 20:00 (Сб-Вс)</span>
        </div>
        <div class="footer__item_info">
          <span class="footer__item_info-header">Мы в Instagram</span>
          <a href="#"
            ><img
              src="/assets/image/instagram.png"
              width="45"
              height="45"
              alt=""
            />
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
